body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.galeria {
  padding: 16px;
}

.imagen-principal img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.lista-imagenes img {
  width: 100%;
  object-fit: cover;
  width: 150px;
  height: 150px;
  margin-right: 10px;
  display: block;
}

.lista-imagenes {
  display: flex;
  overflow-y: auto;
  margin-top: 10px;
}

.galeria2 {
  display: flex;
  overflow-y: auto;
  padding: 16px;
}

.card {
  margin-right: 10px;
  position: relative;
}

.cuerpo-card {
  position: absolute;
  bottom: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.cuerpo-card h5, .cuerpo-card p {
  margin: 0;
}

.card img {
  width: 200px;
  object-fit: cover;
  height: 300px;
}